@layer components {
  [role="alert"] {
    position: relative;
    display: flex;
    gap: var(--space-3);
    padding: var(--space-4) var(--space-6);
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    font-size: var(--text-7);

    &[data-variant] {
      border: 0;
      color: var(--_vc);
      background-color: light-dark(
        color-mix(in srgb, var(--_vc) 8%, transparent),
        color-mix(in srgb, var(--_vc) 20%, transparent)
      );

      & a {
        color: var(--_vc);
      }
    }

    &[data-variant="error"],
    &[data-variant="danger"] {
      --_vc: var(--danger);
    }

    &[data-variant="success"] {
      --_vc: var(--success);
    }

    &[data-variant="warning"] {
      --_vc: var(--warning);
    }
  }
}
