@layer components {
  [role="alert"] {
    position: relative;
    display: flex;
    gap: var(--lm-space-3);
    padding: var(--lm-space-4);
    background-color: var(--lm-background);
    border: 1px solid var(--lm-border);
    border-radius: var(--lm-radius);
    font-size: var(--lm-text-sm);

    &[data-variant="error"], &[data-variant="destructive"] {
      border-color: rgb(from var(--lm-destructive) r g b / 0.5);
      color: var(--lm-destructive);

      & a {
        color: var(--lm-destructive);
      }
    }

    &[data-variant="success"] {
      border-color: rgb(from var(--lm-success) r g b / 0.5);
      color: var(--lm-success);

      & a {
        color: var(--lm-success);
      }
    }

    &[data-variant="warning"] {
      border-color: rgb(from var(--lm-warning) r g b / 0.5);
      color: var(--lm-warning);

      & a {
        color: var(--lm-warning);
      }
    }
  }
}
