@layer components {
  article, .card {
    background-color: var(--lm-card);
    color: var(--lm-card-foreground);
    border: 1px solid var(--lm-border);
    border-radius: var(--lm-radius-lg);
    overflow: hidden;

    & > header {
      display: flex;
      flex-direction: column;
      gap: var(--lm-space-1);
      padding: var(--lm-space-6);

      & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        margin-bottom: 0;
      }

      & > p {
        font-size: var(--lm-text-sm);
        color: var(--lm-muted-foreground);
        margin-bottom: 0;
      }
    }

    & > p, & > div:not([role]) {
      padding: var(--lm-space-6);
      padding-top: 0;
    }

    & > footer {
      display: flex;
      align-items: center;
      gap: var(--lm-space-2);
      padding: var(--lm-space-6);
      padding-top: 0;
    }
  }
}
