@layer components {
  .container {
    container-type: inline-size;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: var(--lm-space-4);
  }

  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--lm-space-4);
  }

  .col, [class*="col-"] {
    grid-column: span var(--col-span, 12);
  }

  .col-1 { --col-span: 1; }
  .col-2 { --col-span: 2; }
  .col-3 { --col-span: 3; }
  .col-4 { --col-span: 4; }
  .col-5 { --col-span: 5; }
  .col-6 { --col-span: 6; }
  .col-7 { --col-span: 7; }
  .col-8 { --col-span: 8; }
  .col-9 { --col-span: 9; }
  .col-10 { --col-span: 10; }
  .col-11 { --col-span: 11; }
  .col-12 { --col-span: 12; }

  @container (max-width: 640px) {
    .row {
      grid-template-columns: repeat(4, 1fr);
    }

    .col-sm-1 { --col-span: 1; }
    .col-sm-2 { --col-span: 2; }
    .col-sm-3 { --col-span: 3; }
    .col-sm-4 { --col-span: 4; }
    .col-sm-full { --col-span: 4; }
  }

  @container (min-width: 641px) and (max-width: 1024px) {
    .col-md-1 { --col-span: 1; }
    .col-md-2 { --col-span: 2; }
    .col-md-3 { --col-span: 3; }
    .col-md-4 { --col-span: 4; }
    .col-md-5 { --col-span: 5; }
    .col-md-6 { --col-span: 6; }
    .col-md-7 { --col-span: 7; }
    .col-md-8 { --col-span: 8; }
    .col-md-9 { --col-span: 9; }
    .col-md-10 { --col-span: 10; }
    .col-md-11 { --col-span: 11; }
    .col-md-12 { --col-span: 12; }
  }

  @container (min-width: 1025px) {
    .col-lg-1 { --col-span: 1; }
    .col-lg-2 { --col-span: 2; }
    .col-lg-3 { --col-span: 3; }
    .col-lg-4 { --col-span: 4; }
    .col-lg-5 { --col-span: 5; }
    .col-lg-6 { --col-span: 6; }
    .col-lg-7 { --col-span: 7; }
    .col-lg-8 { --col-span: 8; }
    .col-lg-9 { --col-span: 9; }
    .col-lg-10 { --col-span: 10; }
    .col-lg-11 { --col-span: 11; }
    .col-lg-12 { --col-span: 12; }
  }

  .grid {
    display: grid;
    gap: var(--lm-space-4);
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-min, 250px), 1fr));
  }
}
